    <div class = "side_top">
      <div class = "user">
         <a href = "#">Tom</a>
      </div>
      
      <div class ="newchat">
         <a href = "#">チャットを作成する</a>
      </div>
    </div>
    <div class = "side_bottom">
      <div class = "chatroom">
       <div class = "roomname">
        <a href ="#">techroom1</a>
       </div>
      </div>
      <div class = "chatroom">
       <div class = "roomname">
        <a href ="#">techroom2</a>
       </div>
      </div>
    </div>