.wrapper{
  display: flex;
}

.side-bar{
  height: 100vh;
  width: 300px;
}

.side_top{
  height: 100px;
  width: 100%;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.newchat a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side_bottom{
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.chat{
  height: 100vh;
  width: calc(100vw - 300px);
}

.chat_top{
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 40px;
}

.chat_middle{
  height: calc(100vh - 190px);
  width: 100%;
  background-color: #FAFAFA;
  padding-top: 46px 40px 0 40px;
}

.chat_bottom{
  height: 90px;
  width: 100%;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

.chatroom {
  padding: 20px 0 40px 0;
}

.roomname a{
  color: white;
  text-decoration: none;
} 
